html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../../../../images/background-image.jpg');
    background-attachment: fixed;
    color: #fff;
}

#container {
	width: 100%;
    z-index: -999;
    background-size: cover;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
}

/* i18n Language*/
#menu{
    text-align: center;
    height: 120px;
    background: none;
    position:absolute;
}
button{
    padding:5px;
    background: none;
    border: none;
    color: #fff;
}
button:hover{
    color:#46E8CF;
}
#content{
	margin: 20px auto;
    width: 1000px;
}
.item {
    width: 300px;
    height: 200px;
    display: inline-block;
    list-style: none;
    /* Notice */
    margin: 5px 10px 15px 20px;
    /*上 右 下 左*/
    padding-bottom: 98px;
    position: relative;
    left: 0;
    top:120px;
}

.item:hover,
.avatar:hover {
    box-shadow: 1px 3px 3px 3px #000;
    filter: contrast(100%) brightness(140%);
}

.placeholder {
    background-image: url('../../../../images/404_preview-320x180.jpg');
    /*placeholder*/
    background-size: 300px 200px;
    /* width height*/
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 
iframe {
    border: none;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
}*/

.video {
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.video img {
    position: relative;
    z-index: 1;
    opacity: 0;
    width: 300px;
    height: 200px;
    transition: opacity, 0.5s, ease-out;
}

/*
img .live_video {
    position: absolute;
    width: 300px;
    height: 200px;
    border: none;
    left: 0px;
    top: 0px;
}
*/
.avatar {
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 198px;
    width: 300px;
    height: 105px;
    left: 0px;
    border-top: 1px solid #fff;
}

.avatar img {
    border-radius: 50%;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
    top: 20px;
    overflow: hidden;
}

.info {
    position: absolute;
    left: 90px;
    top: 0px;
    font-size: 15px;
    width: 210px;
}

.info p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
